 
{% extends "base.html" %}
{% block content %}
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ url_for('index') }}">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Background</a></li>
        <li><a href="{{ url_for('counter') }}">EPT Counter</a></li>
        <li><a href="{{ url_for('wordcloud') }}">Wordcloud Generator </a></li>
        <li><a href="{{ url_for('sentiment') }}">Sentiment Analysis </a></li>
      </ul>
      <ul class="nav nav-sidebar">
          <li><a href="">About</a></li>
          <li><a href="">Code</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">The Hillary Clinton Emails Explorer</h1>
      <p class="introtext"> Welcome to the Hillary Clinton Email Explorer. This tool is meant to assist you in exploring the released emails from Hillary Clinton's email server. We hope the tool is useful - any and all feedback is welcome. </p> 
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/emailnum.png" class="img-responsive" alt="7945 Total Emails">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/years.png" class="img-responsive" alt="Emails over 3 years">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/numsenders.png" class="img-responsive" alt="200+ unique senders">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </div>

      <h2 class="sub-header">Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    </div>
  </div>
{% endblock %}


