 
{% extends "base.html" %}
{% block content %}


      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="{{ url_for('index') }}">Overview</a></li>
          <li><a href="#">Background</a></li>
          <li class="active"><a href="{{ url_for('counter') }}">EPT Counter <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item</a></li>
          <li><a href="">Nav item again</a></li>
        </ul>
      </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Email - Person - Topic Counter</h1>
      <p class="introtext"> Who mentioned what? This tool allows you to input a list of people and topics -- the resulting graph will display how many times each person wrote an email with that topic mentioned.</p> 
      <form class = "form-inline" action="counter" name="counter" style = "text-align:center;">
      <div class = "form-group">
        <p style = "color: black;">
          {{ form.personlist(class = 'form-control', id = 'personlist', placeholder='Enter list of people...', size = 80) }}<br>
        </p>
        <p style = "color: black;">
          {{ form.topiclist(class = 'form-control', id = 'topiclist', placeholder='Enter list of topics...', size = 80) }}<br>
        </p>
        <p style = "color: black;">
          <button type="submit" class="btn btn-default" data-loading-text="Working hard!">Get graph! </button>
        </p>
      </div>
    </form>     

    <!-- if we have input, display graph -->
    {% if request.args.get('personlist') != None 
        and request.args.get('topiclist') != None %} 
      <div style="text-align:center;">
        <h3>Graph results:</h3>
        <img src="{{ url_for('plot', personlist = personlist, topiclist = topiclist ) }}" alt="Image Placeholder" style = "position:relative;top:-10px;">
      </div>
    {% endif %}

{% endblock %}


