
{% extends "base.html" %}
{% block content %}
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ url_for('index') }}">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Background</a></li>
        <li><a href="{{ url_for('counter') }}">EPT Counter</a></li>
        <li><a href="{{ url_for('wordcloud') }}">Wordcloud Generator </a></li>
        <li><a href="{{ url_for('sentiment') }}">Sentiment Analysis </a></li>
      </ul>
      <ul class="nav nav-sidebar">
          <li><a href="">About</a></li>
          <li><a href="">Code</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">The Hillary Clinton Emails Explorer</h1>
      <p class="introtext"> Welcome to the Hillary Clinton Email Explorer. This tool is meant to assist you in exploring the released emails from Hillary Clinton's email server. We hope the tool is useful - any and all feedback is welcome. </p> 
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/emailnum.png" class="img-responsive" alt="7945 Total Emails">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/years.png" class="img-responsive" alt="Emails over 3 years">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/numsenders.png" class="img-responsive" alt="200+ unique senders">
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/static/img/numreceivers.png" class="img-responsive" alt="185+ unique receivers">
        </div>
      </div>

      <h2 class="sub-header">At A Glance</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Key Player</th>
              <th>Title</th>
              <th>Emails Sent</th>
              <th>Emails Received</th>
              <th>Mean Length</th>
              <th>Mean Sentiment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hillary Clinton</td>
              <td>Secretary of State</td>
              <td>1991</td>
              <td>5456</td>
              <td>19</td>
              <td>.108</td>
            </tr>
            <tr>
              <td>Cheryl Mills</td>
              <td>Chief of Staff</td>
              <td>1319</td>
              <td>395</td>
              <td>39</td>
              <td>.052</td>
            </tr>
            <tr>
              <td>Sidney Blumenthal</td>
              <td>Advisor</td>
              <td>374</td>
              <td>49</td>
              <td>606</td>
              <td>.075</td>
            </tr>
            <tr>
              <td>Huma Abedin</td>
              <td>Deputy Chief of Staff</td>
              <td>1433</td>
              <td>432</td>
              <td>24</td>
              <td>.053</td>
            </tr>
            <tr>
              <td>Jake Sullivan</td>
              <td>Deputy Chief of Staff</td>
              <td>871</td>
              <td>343</td>
              <td>64</td>
              <td>.065</td>
            </tr>
            <tr>
              <td>Lauren Jiloty</td>
              <td>Special Assistant</td>
              <td>340</td>
              <td>241</td>
              <td>206</td>
              <td>.102</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    </div>
  </div>
{% endblock %}


